html, body{
    margin: 0;
    padding: 0;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body{
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, .none{
    display: none;
    font-size: 0px;
    color: #fff;
}
h2{
    font-weight: 600;
}
.txt-bleu{color: #0065FC;}
.txt-gris{color: #F2F2F2;}
nav{
    display: flex;
}
nav a:nth-child(3):hover, nav a:nth-child(4):hover{
    color: #0065FC;
}
header a:nth-of-type(4) {
    text-align: right;
    font-weight: 600;
    color: #0065FC;
}
#req{display: flex;}
#localisation{
    background-color: #F2F2F2;
    font-size: 18px;
    text-align: center;
}
input{
    border: 1px solid #F2F2F2;
}
#filtres{
    display: flex;
}
.btn_filtres{
    display: flex;
}
#filtres .txt_filtres{
    font-weight: 600;
}
#filtres .btn_filtres {
    flex-grow: 1;
}
#filtres .economique, #filtres .familial, #filtres .romantique, #filtres .animaux {
    display: flex;
    border: 2px solid #F2F2F2;
}
#filtres .economique:hover, #filtres .familial:hover, #filtres .romantique:hover, #filtres .animaux:hover {
    background-color: #0065FC;
    color: #fff;
}
.economique i, .familial i, .romantique i, .animaux i {
    text-align: center;
    font-size: 1.3em;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50%;
}
.economique .fitre-text, .familial .fitre-text, .romantique .fitre-text, .animaux .fitre-text {
    font-weight: 600;
}
#information{
    margin-top: 35.1px;
    display: flex;
    font-size: .9em;
}
#information i{
    height: 24px;
    width: 24px;
    text-align: center;
    color: #0065FC;
    border: 1px solid #DEEBFF;  
    border-radius: 50%;
    font-size: 1em;
    line-height: 24px;
}
#information #text-info {
    font-size: 1.2em;
}
#section_hebergements {
    display: flex;
}
#section_hebergements aside{
    background-color: #F2F2F2;
}
#grid_cartes {
    display: grid;  
}
.carte-h{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: .5vw .5vw 0 .5vw;
    background-color: #fff; 
    box-shadow: #e7e7e7 0 0 12px;
}
.carte-h .recadreh {
    width: 100%;
    overflow: hidden;
}
.carte-h figcaption{
    width: 100%;
}
#recadreh2{
    background: linear-gradient(#9fdbe9, white);
}
.gras{font-weight: 600;}
.afficher{font-weight: 600;}
aside h2 i{float: right;}
#populaires{
    display: grid;
}
.carte-p{
    display: flex;
    background-color: #fff; 
    box-shadow: #e7e7e7 0 0 12px;
}
.recardep{
    overflow: hidden;
    height: 133.1px;
}
.activites{   
    display: flex;
    justify-content: space-between;
}
.activites div{
    overflow: hidden;
    background-color: #fff;
}
.activites div figure{margin: 0;}
.recadre1{
    background: linear-gradient(#74d8e8, 20%, white);
    background: -moz-linear-gradient(top, #043c44 20%, white);
}
.img-act1{filter: contrast(130%) brightness(130%) opacity(70%);}
.recadre2{
    background: linear-gradient(#f2eff6, 80%, white);
    background: -moz-linear-gradient(top, #f2eff6 80%, white);
}
.img-act2{filter: brightness(105%) opacity(90%);}
.img-act3{
    height: 165%;
    filter: contrast(130%) brightness(110%) opacity(70%);
} 
.recadre4{position: relative;}
.recadre4:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(7, 187, 241, 0.51) 30%,rgb(246, 246, 247, 1) 100%);
}
.img-act4{filter: contrast(120%) brightness(130%) opacity(70%);}
.recadre5{background: linear-gradient(#C3F3FF, 110%, white);}  
.img-act5{filter:brightness(110%);}
.recadre6{background: linear-gradient(#74d8e8, white);}