@media only screen and (max-width: 767px){
    nav{
        flex-wrap: wrap;
    }
    nav a:nth-child(2){
        display: flex;
        height: 62px;
        order: 2;
        width: 44.4vw;
        padding-left: 5.6vw;
    }
    nav a img{
        align-self: flex-end;
        width: 25.36vw;
    }
    nav a:nth-child(3){
        order: 4;
    }
    nav a:nth-child(4){
        order: 5;
    }
    nav a:nth-child(3), nav a:nth-child(4){ 
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 52.1px;
        width: 50%;
        padding-bottom: 13.4px;
        border-bottom: solid 2.3px #fff;
    }
    nav a:nth-child(3):hover, nav a:nth-child(4):hover{
        border-bottom: solid 1.8px #0065FC;
    }
    nav a:nth-child(5){
        order: 3;
        width: 44.4vw;
        padding-right: 5.6vw;
        margin-top: 43.4px;
    }
    #recherche{
    margin: 17px 5.6vw 0 5.6vw;
    }
    h2{
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    #recherche p{
        margin-top: 3px;
        font-size: 1.2em;
        letter-spacing: .2px;
    }
    #btn-recherche{display: none;}
    #req{margin-top: 5.9px;}
    #localisation{
        height: 50.7px;
        width: 13.5vw;
        font-size: 1.4em;
        border-radius: 3.7vw 0 0 3.7vw;
        line-height: 50.7px;
    }
    input{
        height: 46.7px;
        width: 65vw;
        font-size: 1.2em;
        padding-left: 4vw;
    }
    #btn-search{
        width: 50.7px;
        height: 50.7px;
        margin-left: -8vw;
        font-size: 1.4em;
        font-weight: 600;
        color: #fff;
        background-color: #0065FC;
        border: 0;
        border-radius: 3.6vw 3.6vw 3.6vw 
        3.6vw;
        z-index: 5;
    }
    #filtres {
        display: flex;
        flex-wrap: wrap;
        width: 86vw;
        margin-top: 37.3px;
    }
    #filtres .txt_filtres {
        font-size: 1em;
        padding: 0 0 18.5px .2vw;
    }
    .btn_filtres {
        width: 86vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #filtres .economique, #filtres .familial, #filtres .romantique, #filtres .animaux {
        height: 49.5px;
        margin-top: 13.1px;
        border-radius: 24.7px;
    }
    .economique i, .familial i, .romantique i, .animaux i {
        height: 49.5px;
        width: 49.5px;
        margin: -2px 0 0 -2px;
        line-height: 49.5px;
    }
    .economique .fitre-text, .familial .fitre-text, .romantique .fitre-text, .animaux .fitre-text {
        line-height: 49.5px;
    }
    .economique .fitre-text {
        padding-left: 3.1vw;
        padding-right: 5.1vw;
    }
    .familial .fitre-text{
        padding-left: 3.4vw;
        padding-right: 4.3vw;
    }
    .romantique .fitre-text{
        padding-left: 3.1vw;
        padding-right: 3.2vw;
    }
    .animaux .fitre-text{
        padding-left: 3.1vw;
        padding-right: 4vw;
    }
    #information{
        width: 86vw;
    }
    #information #text-info {
        line-height: 24px;
        padding-left: 3.1vw;
    }
    #section_hebergements {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #section_hebergements article{
        width: 100vw;
    }
    #section_hebergements aside{
        width: 100vw;
        margin-top: 36px;
    }
    article h2, aside h2 {
        margin: 37.1px 0 0 5.6vw;
        font-size: 21px;
        padding: 0 5.6vw 0 0;
    }
    aside h2 {padding-bottom: 24.1px;}
    #grid_cartes {
        margin: 23px 5.6vw 0 5.6vw;
        grid-template-columns: 1fr;
    }
    .carte-h{
        padding: 1.3vw 1.3vw 0 1.3vw;
        margin-bottom: 9px;
        border-radius: 4vw 4vw 4vw 4vw;
    }
    .carte-h .recadreh {
        height: 114.6px;
        border-radius: 12.2px 12.2px 0 0;
    }
    #img_h1 {
        height: 192%;
        width: 100%;
        margin: -53.5px 0 0 -.5vw;
    }
    #img_h2 {
        height: 195%;
        width: 102%;
        margin: -55px 0 0 0;
        filter: brightness(105%) opacity(80%);
    }
    #img_h3 {
        height: 190%;
        width: 102%;
        margin: -53px 0 0 0;
        filter: brightness(115%) opacity(80%);
    }
    #img_h4 {
        height: 265%;
        width: 100%;
        margin: -95px 0 0 -.3vw;
    }
    #img_h5 {
        height: 150%;
        width: 100%;
        margin: -25px 0 0 0;
    }
    #img_h6 {
        height: 322%;
        width: 100%;
        margin: -115px 0 0 .3vw;
    }
    .carte-h figcaption{
        margin: 11.5px 0 0 3vw;}
    h3{font-size: 1em;
    padding: 0;
    margin: 0;}
    .carte-h figcaption p{
        font-size: 1em;
        margin-top: 7.9px;
        line-height: 18px;
    }
    .afficher{
        margin: 23.1px 0 0 5.6vw;
        font-size: 17px;
    }
    #populaires{
        grid-template-columns: 1fr;
        height: 453.4px;
        margin-bottom: 36.4px;
    }
    .carte-p{
        margin: 0 5.6vw 0 5.6vw;
        padding: 1.3vw 0 1.3vw 1.3vw;
        border-radius: 4vw 4vw 4vw 4vw;
    }
    .recardep{
        width: 34vw;
        border-radius: 12.2px 0 0 12.2px;
    }
    .carte-p figcaption{
        margin: 9.4px 0 0 5.6vw;
        line-height: 19px;
        width: 36.3vw;
    }
    .carte-p figcaption p .fas{
        padding-top: 27.5px;
    }
    #img_p1{
        width: 170%;
        height: 110%;
        margin: -5px 0 0 -12vw;
    }
    #img_p2{
        width: 145%;
        height: 107%;
        margin: -5px 0 0 -7vw;
        filter: brightness(105%);
    }
    #img_p3{
        width: 95%;
        height: 155%;
        margin: -35px 0 0 0;
        filter: brightness(105%);
    }
    #section_activites{
        margin-top: 21.6px;
    }
    #section_activites h2{padding-bottom: 27.2px;}
    .activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 1255px;
    }
    .activites h3{
        padding: 21.3px 0 20.9px 5vw;
    }
    .activites .vertical:nth-child(3){   
        margin-top: -12px;
    }
    .activites .double{   
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 414.4px;
        padding-bottom: 12px;
    }
    .activites .vertical, .activites .double figure {
        width: 89.4vw;
        margin-left: 5.3vw;
        border-radius: 4vw 4vw 4vw 4vw;
        box-shadow: #e7e7e7 0 6px 12px;
    }
    .recadre1, .recadre2, .recadre3, .recadre4, .recadre5, .recadre6 {
        width: 89.4vw;
        margin-right: 5.3vw;
        height: 133.9px;
        border-radius: 17px 17px 0 0;
    }
    .img-act1{
        width: 100%;
        height: 180%;
        margin: -7% 0 0 0;
    }
    .img-act2{
        width: 100%;
        height: 280%;
        margin: -25% 0 0 0;
    }
    .img-act3{
        width: 100%;
        margin: -4% 0 0 0;
    }
    .img-act4{
         height: 150%;
         width: 100%;
     }  
     .img-act5{
        width: 100%;
        height: 165%;
         margin: -17px 0 0 0;
    }
    .img-act6{
        height: 180%;
        width: 100%;
        margin: -25px 0 0 0;
    }

}